################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RocketLanding.Tests/bin/
/RocketLanding.Tests/obj/
*.cache
/RocketLanding.Program/bin/
/RocketLanding.Program/obj/
